:root {
    --bs-madison-color: #334257;
    --bs-cor-de-destaque: #476072;
    --bs-cor-principal: #548CA8;
}


body {
    background-color: var(--bs-gray-200);
}

header,
footer,
#container-funcionalidades,
#home-container-planos,
#container-formulario-trabalhe-conosco,
#container-nutricionistas-assinatura {
    background-color: var(--bs-white);
}

#container-conteudo {
    flex: 1 0 auto;
}

#container-principal, #trabalhe-conosco-container-principal {
    min-height: 43rem;
}

.texto-justificado {
    text-align: justify; 
    text-justify: inter-word
}


.btn-padrao {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    width: 96px;
}

.btn-padrao-assinar {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
}

a.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: var(--bs-white);
    pointer-events: none;
    background-color: var(--bs-cor-principal);
    border-color: var(--bs-cor-principal);
    opacity: var(--bs-btn-disabled-opacity);
}

#card-modelo-header {
    color: var(--bs-white);
    background-color: var(--bs-cor-principal);
}

.form-check-input:checked {
    background-color: var(--bs-cor-principal);
    border-color: var(--bs-fiord-color);
}

#container-login,
#container-cadastro,
#container-redefinir-senha {
    width: 90%;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {
    color: var(--bs-white);
    background-color: var(--bs-cor-principal);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--bs-cor-de-destaque);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    background-color: var(--bs-gray-200);
    border: var(--bs-accordion-border-width) solid var(--bs-gray-500);
}

@media screen and (min-width: 768px) {
    #container-principal {
        min-height: 23rem;
    }

    #img-banner-1, #img-banner-3 {
        width: 14rem;
        
    }

    #img-banner-2 {
        width: 20rem;
    }


    #trabalhe-conosco-container-principal {
        min-height: 20rem;
    }

    #container-login {
        width: 50%;
    }

    #container-cadastro {
        width: 50%;
    }

    #container-redefinir-senha {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    #container-principal {
        min-height: 26rem;
    }

    #img-banner-1, #img-banner-3 {
        width: 16rem;
        
    }

    #img-banner-2 {
        width: 24rem;
    }

    #container-login {
        width: 30%;
    }

    #container-cadastro {
        width: 40%;
    }

    #container-redefinir-senha {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    #container-principal {
        min-height: 33rem;
    }

    #img-banner-1, #img-banner-3 {
        width: 20rem;
        
    }

    #img-banner-2 {
        width: 26rem;
    }

    #container-login {
        width: 30%;
    }

    #container-cadastro {
        width: 40%;
    }

    #container-redefinir-senha {
        width: 30%;
    }
}