:root {
    --bs-madison-color: #334257;
    --bs--cor-de-destaque: #476072;
    --bs-cor-principal: #548CA8;
}

body {
    background-color: var(--bs-gray-200);
}

header,
footer,
#container-funcionalidades,
#container-formulario-trabalhe-conosco,
#container-nutricionistas-assinatura {
    background-color: var(--bs-white);
}

.btn-header {
    --bs-btn-hover-bg: var(--bs--cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs--cor-de-destaque);
}

.btn-site, .btn-card-plano, #btn-enviar-fromulario {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-fiord-color);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
}

#card-modelo-header {
    color: var(--bs-white);
    background-color: var(--bs-cor-principal);
}

.form-check-input:checked{
    background-color: var(--bs-cor-principal);
    border-color: var(--bs-fiord-color);
}




/* #home-container-banner-principal,
#home-container-planos,
#trabalhe-conosco-container-principal, #container-nutricionistas,
footer {
    background-color: var(--bs-cinza-body);
}



#card-formulario,
#card-modelo-header {
    background-color: var(--bs-amarelo-padrao);
}



.btn-light {
    --bs-btn-bg: var(--bs-amarelo-padrao);
    --bs-btn-hover-bg: var(--bs-amarelo-active-hover);
    --bs-btn-active-bg: var(--bs-amarelo-active-hover);
} */

.container-formulario {
    width: 90%;

}

.btn-social {
    width: 45%;
}

.formulario-dados {
    width: 90%;

}

@media screen and (min-width: 576px) {
    .container-formulario {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .container-formulario {
        width: 50%;
    }

}

@media screen and (min-width: 992px) {
    .container-formulario {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .container-formulario {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 30%;
    }
}