:root {
    --bs-madison-color: #334257;
    --bs-cor-de-destaque: #476072;
    --bs-cor-principal: #548CA8;
}

body {
    background-color: var(--bs-gray-200);
}

header {
    background-color: var(--bs-white);
}

.dropdown-menu {
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: var(--bs-cor-de-destaque);
    --bs-dropdown-link-active-bg: var(--bs-cor-principal);
}

#area-lateral,
.offcanvas {
    background-color: var(--bs-cor-principal);
}

#area-lateral .list-group-item span,
#menu-offCanvas .list-group-item span,
#offcanvas span,
#logo-cabecalho span {
    text-shadow: 2px 2px 10px #334257;
}

a,
input,
select {
    cursor: pointer;
}

/* breadcrumb */
.breadcrumb-item.active {
    color: var(--bs-dark);
}

a {
    color: var(--bs-cor-principal);
}

a:active {
    color: var(--bs-cor-principal);
}

a:hover {
    color: var(--bs-cor-de-destaque);
}


/* cards */
.card-dashboard-dados {
    height: 88px;
}

.card.card-historico-dietas,
.card.card-historico-treinos {
    height: 40%;
    overflow-y: scroll;
}

.card-modal-perfil-assinante-nutri-personal {
    height: auto;
}

#card-body-dados-dieta {
    max-height: 28rem;
    overflow-y: scroll;
}

#card-body-dados-treino {
    max-height: 28rem;
    overflow-y: scroll;
}



/* listas */
.list-group {
    --bs-list-group-color: var(--bs-white);
    --bs-list-group-bg: var(--bs-cor-principal);
    --bs-list-group-action-hover-color: var(--bs-white);
    --bs-list-group-action-hover-bg: var(--bs-cor-de-destaque);
    --bs-list-group-action-active-color: var(--bs-white);
    --bs-list-group-action-active-bg: var(--bs-cor-de-destaque);
    --bs-list-group-active-color: var(--bs-white);
    --bs-list-group-active-bg: var(--bs-cor-de-destaque);
    --bs-list-group-active-border-color: var(--bs-cor-de-destaque);
}

#lista-assinantes tr:hover i,
#lista-nutricionistas tr:hover i,
#lista-personal-trainers tr:hover i,
#lista-planos tr:hover i,
#lista-pacientes tr:hover i,
#lista-alunos tr:hover i,
#lista-dietas tr:hover i,
#lista-treinos tr:hover i {
    color: #fff;
}

.list-group .lista-itens-dieta,
.list-group .lista-exercicios-treino {
    color: #000;
    background-color: #fff;
}

/* mensagens */
#menu-mensagens .list-group-item {

    --bs-list-group-color: #000;
    --bs-list-group-bg: #fff;
    --bs-list-group-action-color: #fff;
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: var(--bs-cor-de-destaque);
    --bs-list-group-action-active-color: #fff;
    --bs-list-group-action-active-bg: var(--bs-cor-de-destaque);
    --bs-list-group-active-bg: var(--bs-cor-principal);
    --bs-list-group-active-border-color: var(--bs-cor-de-destaque);

}

#lista-mensagens .list-group-item {
    --bs-list-group-color: #000;
    --bs-list-group-bg: #fff;
    --bs-list-group-action-color: #fff;
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: var(--bs-cor-de-destaque);
    --bs-list-group-action-active-color: #fff;
    --bs-list-group-action-active-bg: var(--bs-cor-de-destaque);
    --bs-list-group-active-bg: var(--bs-cor-de-destaque);
    --bs-list-group-active-border-color: var(--bs-cor-de-destaque);
}

#lista-mensagens .list-group-item:hover i {
    color: #fff;
}


/* botoes */
.btn-app {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
}

.btn-app-padrao {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
    width: 86px;
}

.btn-app-padrao-md {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
    width: 96px;
}

.btn-app-padrao-lg {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
    width: 146px;
}

.btn-app-padrao-xlg {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-cor-principal);
    --bs-btn-border-color: var(--bs-cor-principal);
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
    width: 200px;
}

.btn-voltar {
    --bs-btn-hover-bg: var(--bs-cor-de-destaque);
    --bs-btn-hover-border-color: var(--bs-cor-principal);
    width: 86px;
}


/* tabs */
.table {
    --bs-table-hover-color: #fff;
    --bs-table-hover-bg: var(--bs-cor-de-destaque);
}



/* navs */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-link {

    background-color: var(--bs-cor-principal);
}

.nav-tabs {
    --bs-nav-tabs-link-hover-border-color: var(--bs-cor-de-destaque);
    --bs-nav-tabs-link-active-color: #fff;
}

.nav {
    --bs-nav-link-color: #000;
    --bs-nav-link-hover-color: #000;
}

@media only screen and (max-width: 760px) {
    .container-tab {
        max-height: 30rem;
        max-width: 100%;
        overflow-y: scroll;
    }

    .tab-resp thead {
        display: none;
    }

    .tab-resp tr {
        display: block;
        border-bottom: 2px solid #dce0e0;
    }

    .tab-resp tr td {
        width: 100%;
        display: block;
        text-align: right;
        border-bottom: 1px dotted #ccc;
    }

    .tab-resp tr td:last-child {
        border-bottom: 0;
    }

    .tab-resp tr td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        font-size: 12px;
    }

    #card-body-lista-assinantes {
        max-height: 20rem;
        overflow-y: scroll;
    }

    #card-body-lista-planos {
        max-height: 24rem;
        overflow-y: scroll;
    }

    #card-body-lista-mensagens {
        max-height: 24rem;
        overflow-y: scroll;
    }

    #card-body-conteudo-mensagem {
        min-height: 24rem;
    }

    #texto-mensagem {
        max-height: 24rem;
        overflow-y: scroll;
    }

    #card-body-historico-medidas {
        max-height: 18rem;
        overflow-y: scroll;
    }

    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
    .container-tab {
        max-height: 11rem;
        overflow-y: scroll;
    }

    #card-body-lista-assinantes {
        max-height: 12rem;
        overflow-y: scroll;
    }

    #card-body-lista-planos {
        max-height: 11rem;
        overflow-y: scroll;
    }

    #card-body-lista-mensagens {
        max-height: 12rem;
        overflow-y: scroll;
    }

    #card-body-conteudo-mensagem {
        min-height: 10rem;
    }

    #texto-mensagem {
        max-height: 8rem;
        overflow-y: scroll;
    }

    #card-body-historico-medidas {
        max-height: 10.5rem;
        overflow-y: scroll;
    }

  
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1400px) {
    .container-tab {
        max-height: 12rem;
        overflow-y: scroll;
    }

    #card-body-lista-mensagens {
        max-height: 18rem;
        overflow-y: scroll;
    }

    #card-body-conteudo-mensagem {
        min-height: 12rem;
    }

    #texto-mensagem {
        max-height: 10rem;
        overflow-y: scroll;
    }

    #card-body-historico-medidas {
        max-height: 13rem;
        overflow-y: scroll;
    }
}

