#area-lateral, a.list-group-item, .offcanvas {
    background-color: #FED233;
}

body {
    background-color: #EDEDED;
}

header {
    background-color: white;
}

.medidas-dashboard, .medidas-paciente {
    color: #FED233;
    font-size: larger;
    font-weight: bolder;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #c1a12b;
}

.list-group-item-action:focus, .list-group-item-action:active {
    background-color: #c1a12b;
}

a, input, select {
    cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: #FED233;;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #FED233;;
}
.nav-tabs .nav-link {
    color: var(--bs-nav-pills-link-active-color);
}
.table-responsive {
    max-height:250px;
}